// ==============================
// Override Variables
// 覆盖变量
// ==============================

$global-font-size: 1.25em !important;
$global-font-family: Fira Sans, Monaco, Droid Sans,Helvetica Neue,sans-serif !important;
$global-font-color-dark: #cdd3d0 !important;
$global-background-color-dark: #001314 !important;
$header-background-color-dark: #001314 !important;
$code-background-color-dark: #2d2d2d;
$code-font-family:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace  !important;
$code-font-size: 1em;
