$global-font-size: 0.90em !important;
$global-font-family: JetBrains Mono, Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important ;
$global-font-color-dark: #cdd3d0 !important;
$global-background-color-dark: #121212 !important;
$header-background-color-dark: #121212 !important;
$code-background-color-dark: #181818;
$code-font-family:  Fira Code, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace  !important;
$code-font-size: 1em;
$page-width: 100%;
